.main-container {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.main-container h2 {
  margin: 20px;
  text-align: center;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}
