body {
  font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial,
    sans-serif;
  background: url("../images/bg1.jpg") repeat;
}

.ddon-container {
  padding: 20px;
}

.ddon-col {
  margin-top: 30px;
}

.ddon-btn {
  border-radius: 0.25rem;
  color: white;
  background-color: #a188a2;
  border-color: #c3b0c4c1;
}

.ddon-btn:hover {
  color: white;
  background-color: #8a738a;
  border-color: #c3b0c4c1;
}

.ddon-card {
  width: 100%;
  padding: 20px;
}

.ddon-card > img {
  height: 200px;
  object-fit: cover;
}
