.main-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
}

.title{
    text-align: center;
    font-size: 1.5rem;
}

.btn-container{
    padding: 15px;
}

.open{
    width: 100%;
}

.row-sm{
    margin: 20px;
}
